p, a{
  color: #02253E;
}


body{
  font-family: 'Maven Pro', sans-serif ;
}

/* NAVBAR */
.navbar{
  background-color: #02253E;
}
.navbar-nav{
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link{
  color: white;
}

form, .rebates{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* INPUT FIELDS */
sup{
  color: red;
}

.info{
  width: 50%;
  font-size: 12px;
  font-style: italic;
}

.field{
  width: 50%; 
  height: 50px;
  position: relative;
}

.field + span{
  color: red;
  width: 50%;
  font-family: sans-serif;
  font-size: 15px;
  visibility: hidden;
}

.field + span.error{
  visibility: visible;
}


.field input{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  color: #595a5b;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.field label{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;  
  border-bottom: 1px solid #777778;
}

.field span{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.4s ease;
}

.field input:focus + label span,
.field.date input + label span,
.above{
  transform: translateY(-150%);
  font-size: 14px;
}

.field input:focus + label {
  border-bottom: 2px solid black;
}


/* Progress Bar */

.progressbar{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.section{ 
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-circle{
  width: 30px;
  height: 32px;
  border-radius: 100%;
  background-color:#ebebeb;
  border: 2px solid  #2f2d2d;
  z-index: 2;
  margin-bottom: 5px;
  text-align: center;
}

.section-name{
  font-size: 10px;
  text-align: center;
  margin: 0;
}


.status-progress{
  background-color: #ebebeb;
  width: 70%;
  height: 5px;
  position: absolute;
  top: 12px;
  left: 15%;
}

.section-circle.active{
  background-color: #40c057;
}

.section-circle.active > a i,
.section-circle.active > i{
  color: white  !important;
}

.status-progress.complete{
  background-color: #40c057;
  z-index: 1;
}

select option.invisible {
  display: none;
}

/* File upload */
.file-container{
  width: 50%;
  position: relative;
}

.file-container button{
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  text-align: left;
  border-radius: 0.25rem;
  border: 1px solid rgb(206, 212, 218);
  background-color: #fff;
}

.file-container i{
  position: absolute;
  right: 10px;
  top: 10px;
}

#pet-img{
  display: none;
}

#pet-img.show{
  display: block;
}

/* Rebates */
.rebate{
  width: 60%;
  min-height: 160px;
  border: 2px solid black;
}

.rebate-header{
  background-color: #0f8ce6;
  color: white;
}

.rebate-section p:first-of-type,
.offer-section p:first-of-type,
.purchase-section p:first-of-type{
  font-weight: bold;
  margin: 0;
}

.buttons{
  width: 60%;
}


p.error{
  width: 60%;
  color: red;
  display: none;
}

/* Image */
.image-preview{
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  display: flex;
  align-items:center;
  justify-content: center;
  font-weight:bold;
  color:#cccccc;
}

.imageToPreview{
  display: none;
  width:100%;
}

.imageToPreview2{
  display: none;
  width:100%;
}

.buttons2{
  width: 300px;
  margin-right: 50px;
}

/* Check box */

.checkbox-container input[type="checkbox"]{
  display: none;
}

.checkbox-container label{
  position: relative;
  width: 290px;
}

.checkbox-container label::before{
  content: "";
  background: url("Images/check.png");
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -29px;
  transform: scale(0) ;
  transition: all 0.2s linear;
}

.checkbox-container input[type="checkbox"]:checked + label::before{
  transform: scale(1) rotateZ(0deg);
}

.checkbox-container label::after{
  content: "";
  border: 2px solid #11e0be;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -29px;
  top: 0px;
  border-radius: 50%;
}

.checkbox2{
  width: 50%; 
  height: 50px;
  position: relative;
}

.checkbox2 label{
  margin-left: 30px;
}

/* Log In */
.fa-eye{
  position: absolute;
  top: 20px;
  right: 0px;
  cursor: pointer;
}

/* Collection */
.info-header{
  font-weight: bold;
}

.infomation .content{
  margin-left: 10px;
  max-width: 60%;
}

#success-frame{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.modal-content h5{
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

